@model IEnumerable<APSD.Models.Course_Tbl>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <span class="card-title">
                        Course Details
                        <div class="float-end btn btn-outline-primary text-decoration-none text-dark">@Html.ActionLink("Create New", "Create")</div>
                    </span>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course_Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course_Duration_IN_Dates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course_Image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Crd_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Crd_By)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lmd_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lmd_By)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course_Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course_Duration_IN_Dates)
                                </td>
                                <td>
                                   <a href=" @Html.DisplayFor(modelItem => item.Course_Image)">View</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Crd_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Crd_By)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lmd_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lmd_By)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Course_Id })
                                    @Html.ActionLink("Details", "Details", new { id = item.Course_Id })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Course_Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

