@model APSD.Models.Gallery_Tbl

@{
    ViewBag.Title = "Details";
}



<div>
    <h4> Details Gallery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gallery_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crd_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crd_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crd_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Crd_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lmd_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lmd_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lmd_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lmd_By)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GalleryItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
