@model IEnumerable<APSD.Models.Login_Tbl>

@{
    ViewBag.Title = "Index";
}



@if (User.Identity.IsAuthenticated)
{
    <li><a>Dear -@User.Identity.Name</a></li>
    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Home")</li>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <span class="card-title">
                        Login Users
                        <div class="float-end btn btn-outline-primary text-decoration-none text-dark">@Html.ActionLink("Create New", "Create")</div>
                    </span>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.User_Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastLoginDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Crd_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Crd_By)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lmd_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lmd_By)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User_Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastLoginDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Crd_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Crd_By)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lmd_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lmd_By)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Record_id })
                                    @Html.ActionLink("Details", "Details", new { id = item.Record_id })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Record_id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
